<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap -->
    @Styles.Render("~/bootstrap/css")
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/
    html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/
    respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="navbar">
       @RenderPage("_navbar.cshtml")
    </div>
    <div class="container">
        <div class="row">
            <div id="header">
                @RenderSection("header")
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8" id="main">
                @RenderBody()
            </div>
            <div class="col-sm-4" id="sidebar">
                @RenderPage("_sidebar.cshtml")
            </div>
        </div>
     </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    @Scripts.Render("~/bootstrap/js")
</body>
</html>
