@model IEnumerable<LIFF.Web.ViewModels.FilmViewModel>

@{
    ViewBag.Title = "Films";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header {
    <div class="col-sm-12" id="header">
        <div class="jumbotron">
            FILM
        </div>
    </div>
}
@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left">
                        <a href='@Url.Action("Details", "Film", new { id = item.FilmId })'>
                            <img class="media-object img-thumbnail" src="@Url.Content(item.Images[0].Path)" width="304" height="236" />
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">@item.Title (@item.Year)</h2>
                        <p>@item.Description</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}